<h1>Dr. <%= @doctor.name %></h1>
<h2>Dept: <%= @doctor.department %></h2>

<% @doctor.appointments.each do |appt| %>
  <p><%= appt.pretty_datetime %> <%= link_to appt.patient.name, patient_path(appt.patient) %></p>
<% end %>